[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ezcox"]
	path = ezcox
	url = https://github.com/shixiangwang/ezcox
	shallow = true
	registered = true
[submodule "ggpolar"]
	path = ggpolar
	url = https://github.com/shixiangwang/polar
	shallow = true
	registered = true
[submodule "IDConverter"]
	path = IDConverter
	url = https://github.com/shixiangwang/idconverter
	shallow = true
	registered = true
[submodule "metawho"]
	path = metawho
	url = https://github.com/shixiangwang/metawho
	shallow = true
	registered = true
[submodule "regport"]
	path = regport
	url = https://github.com/shixiangwang/regport
	shallow = true
	registered = true
[submodule "sigminer"]
	path = sigminer
	url = https://github.com/shixiangwang/sigminer
	shallow = true
	registered = true
[submodule "tinyscholar"]
	path = tinyscholar
	url = https://github.com/shixiangwang/tinyscholar
	shallow = true
	registered = true
